.rodal-wrapper {
  img {
    height: 200px;
    border-radius: 5px;
    margin-top: -50px;
  }
  h4 {
    font-size: 1.5rem;
    margin: 0;
  }
  .rodal-description {
    padding: 17px;
    font-size: 1.2rem;
    height: 190px;
    overflow: auto;
  }
  .language-used h5 {
    font-size: 1.2rem;
    margin: 0;
  }
  .link {
    font-size: 1.5rem;
    margin: 0;
  }
}
