.card {
  height: 280px;
  width: 460px;
  box-sizing: border-box;
  border: 2px solid;
  color: var(--matrix-color);
  position: relative;

  .rodal-dialog {
    background-color: black !important;
    border: 2px solid !important;
    color: var(--matrix-color);
    .rodal-close:before,
    .rodal-close:after {
      background: var(--matrix-color);
    }
  }

  .conatiner {
    padding: 10px;

    .card-title {
      h2,
      h6 {
        margin: 0;
      }
      h2 {
        font-size: 2rem;
      }
      h6 {
        font-size: 1rem;
      }
    }

    .card-description {
      p {
        display: inline-block;
        width: 408px;
        position: relative;
        line-height: 1.2em;
        height: 3.6em;
        overflow: hidden;
      }

      p::after {
        content: "...";
        position: absolute;
        right: 0;
        bottom: 0;
        padding-left: 20px;
      }
    }

    .language-used {
      text-align: left;
      float: left;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      width: 331px;
      .btn-filled {
        margin-left: 10px;
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
  }
}

.card:hover {
  border: 2px solid var(--matrix-color);
  color: black;
  background-color: var(--matrix-color);
}

.cutoff-text {
  --max-line: 4;
  --line-height: 1.4;
  font-size: 1.2rem;

  max-height: calc(var(--max-line) * 1rem * var(--line-height));
  line-height: var(--line-height);

  overflow: hidden;
  position: relative;
}

.cutoff-text::before {
  content: "";
  position: absolute;
  height: calc(1rem * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
}
